@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}
<br /><br />

<div class="text-center">
    <h1 class="display-4">Welcome to Dragon's Legacy</h1>

    <br />

    <div class="card">

        <div class="card-body">

            <h3 class="card-title alert-primary py-3 px-3 rounded-2 text-center">General info</h3>

            <div class="card-text">
                <p>
                    Welcome to our task management web application which has a dragon based theme.
                    This website is created for company usage only, we don't provide a web app for personal usage (yet).
                    This project is made for one University class, hence we have some minimal requirements,
                    but we want to add so much more than those to our web app.
                </p>
            </div>

        </div>

    </div>

    <br />

    <div class="card">

        <div class="card-body">

            <h3 class="card-title alert-primary py-3 px-3 rounded-2 text-center">Why should you choose us over the others?</h3>

            <div class="card-text">
                <p>
                    Let's take a look at the features we offer first. Once you have a subscription, your company can create projects,
                    which are split into teams. Each project has an organizer and each team has a manager, which can manage that specific project or team.
                    One user can be in multiple teams, working on multiple projects at any time. The user will see the tasks
                    related to the specific projects on which he is working. Besides this, the app offers other great
                    features such as a shop from where you can buy items, you have achievements to see how much you've worked or how much a user you monitor
                    has done.
                </p>
                <p>
                    Since you know what the subscription offers, we hope that our features and prices will pursue you into paying the monthly/yearly required fee
                    in order to use our app. We also offer the first two months for free, in order for you test our app and see if its suited for what you want.
                    FOR NOW, since the application is still in beta, you don't have to pay any fee, hence just create an account and enjoy our features!
                </p>
            </div>

        </div>

    </div>

    <br />

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4 d-flex">
            <div class="card" height="100%">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h5 class="card-title  alert-primary py-3 px-3 rounded-2 text-center">Monthly subscription</h5>
                    <p class="card-text">
                        The price for one month of subscription is 10€. Each month you will be notified that the expiration date is comming
                        and money will be subtracted from your account.
                    </p>
                    <!--<a href="#" class="btn btn-outline-primary btn-sm">
                        Subscribe
                    </a>>-->
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4 d-flex">
            <div class="card" height="100%">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h5 class="card-title  alert-primary py-3 px-3 rounded-2 text-center">Yearly subscription</h5>
                    <p class="card-text">
                        The price for one month of subscription is 100€. Each year you will be notified that the expiration date is comming
                        and money will be subtracted from your account. Because you pay in advance for a whole year, you will have to pay 20€ less than if you'd buy this each month.
                    </p>
                    <!--<a href="#" class="btn btn-outline-primary btn-sm">
                        Subscribe
                    </a>>-->
                </div>
            </div>
        </div>
    </div>
</div>