html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    background-color: #dfe6e9 !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

a.nav-link {
    color: #2c2c2c !important;
}

a.nav-link:hover {
    color: #0000FF !important;
}

.logoutbtn {
    color: #2c2c2c !important;
}

.logoutbtn:hover {
    color: #00b894 !important;
}

.filter-container {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.note-editor .dropdown-toggle::after {
    display: none;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 1px;
    font-size: 12px; 
    line-height: 1.2;
}

.dragon {
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
}
