<div class="card-body">

    <h3 class="card-title alert-primary py-3 px-3 rounded-2 text-center">@Model.Name</h3>

    <div class="card-text">Description: @Html.Raw(Model.Description)</div>

    <div class="card-text">Manager: @Model.Manager.UserName</div>

</div>